.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-radius: 4px;
}

.navbar-toggler::before,
.navbar-toggler::after {
    display: none;
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.25);
}

.top-row {
    height: 4rem;
    background-color: #1e3a5f;
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: white;
}

.nav-icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.nav-item {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: white !important;
}

.nav-item:first-of-type {
    padding-top: 1.5rem;
}

.nav-item:last-of-type {
    padding-bottom: 1.5rem;
}

.nav-item ::deep a {

    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;
    font-weight: 500;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.2);
    color: white !important;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white !important;
}

.nav-scrollable {
    display: none;
    background-color: #1e3a5f;
}

.nav-scrollable.expanded {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none !important;
        visibility: hidden;
    }

    .nav-scrollable {
        display: block;
        position: relative;
        flex-grow: 1;
        overflow-y: auto;
    }
}
